body{
    padding:0;
    margin:0;
    background-color: rgb(211, 228, 238);
}

#Main{
    margin:auto;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    border:3px ridge rgb(107, 107, 184);
    padding: 2%;
    border-radius: 5px;
}
#header{
    height:250px;
    margin-top: 3%;
    border: 3px groove rgb(107, 107, 184);
    padding:2%;
}
#IntroText{
    float:left;
}
#ProfilPic{
    float:right;
}
#ProfilPic img{
    width: auto;
    height: 250px;
}
.leftSide{
    float:left;
    border:1px solid green;
    width:200px;
}
.rightSide{
    float:right;
    border:1px solid red;
    width:750px;
}
#Formation{
    height:500px;
    display: block;
}
#JobExp{
    height:500px;
    display: block;
}
#Other{
    height:500px;
    display: block;
}